@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";

/* Utilidades */
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";
@import "./home/inovacao.css";

/* Canetas */
@import "./canetas/canetas-lista.css";

@font-face {
  font-family: "Spring LP Std";
  src: url("/Font/SpringLPStd/SpringLPStd.woff2") format("woff2"),
    url("/Font/SpringLPStd/SpringLPStd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecklessNeue-regular";
  src: url("/Font/RecklessNeue/RecklessNeue-Regular.woff2") format("woff2"),
    url("/Font/RecklessNeue/RecklessNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecklessNeue-semiBold";
  src: url("/Font/RecklessNeue/RecklessNeue-SemiBoldItalic.woff2")
      format("woff2"),
    url("/Font/RecklessNeue/RecklessNeue-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
